body{
    border-style: dotted double;
    border-width:2rem;
    border-color: yellow;
    background-color: black;
}
    h1{
        font-family:'Segoe UI';
        color:green;

    }
   .anchorstarter{
    font-size:16px;
    font-family:'Segoe UI';
    color:royalblue;

   } 
    
   .a2 {
    background-color:black;
    border-color:blue;
    color:blue;
    border-style:solid;
    border-radius:15px;
    padding:16px 34px;
    margin:2rem;
    margin-top:4rem;
    text-decoration:none;
    transition-duration: 0.5s ;

   }

   .a2:hover {
    background-color:blue;
    color:black;
   }