body{
    border-style: dotted double;
    border-width:2rem;
    border-color: yellow;
}
    h1{
        font-family:'Segoe UI';
        color:green;

    }
   .anchorstarter{
    font-size:16px;
    font-family:'Segoe UI';
    
   } 
    