body{
    border-style: dotted double;
    border-width:2rem;
    border-color: yellow;
    background-color: black;
}
    h1{
        font-family:'Segoe UI';
        color:green;

    }
   .anchorstarter{
    font-size:16px;
    font-family:'Segoe UI';
    color:royalblue;

   } 
    
   .a2 {
    background-color:white;
    border-color:blue;
    color:blue;
    border-style:solid;
    
   }